
/* this makes our navbar full screen */
.container-fluid {  
  padding: 0px;
}

.meme-content {
  height: 400px;
}

.meme {
  max-height: 225px;
}

.meme-display {
  display: none;
}

.captionInput {
  display: none;
}

.notification-panel {
  margin-top: 25px;
}

.photo {
  height: 390px;
  float: left;
  margin-top: 5px;
}

.photo-display {
  display: none;
}

.inputArea {
  position: absolute;
  margin-top: 50px;
  padding-left: 400px;
}