
/* this makes our navbar full screen */
.container-fluid {  
  padding: 0px;
}

.meme-content {
  height: 400px;
}

.meme {
  width: 310px;
  z-index: 2;
}

.meme-display {
  display: none;
}

.captionInput {
  display: none;
}

.notification-panel {
  margin-top: 25px;
}

.photo {
  height: 390px;
  float: left;
  margin-top: 5px;
}

.photo-display {
  display: none;
}

.inputArea {
  position: absolute;
  margin-top: 50px;
  margin-left: 420px;
}

.caption {
  position: absolute;
  margin-left: 8px;
  width: 300px;
  z-index: 10;
  font-size: 28px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Impact, "Arial Black", "sans serif";
  overflow: hidden;
  top: -108px;
  line-height: 260px;
}

.timer {
  font-size: 36px;
}

.timer-cont {
    margin-bottom: 25px;
}

.well {
  background: #e3e7e8;
  background: linear-gradient(115deg, #bac0c1, #e3e7e8, #e3e7e8, #e3e7e8, #758da0, #2f495e);
}

.roomTitle {
  font-size: 30px;
}

.profile-photo {
  height: 125px;
}



.element {

  z-index: 10;
  font-size: 24px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Impact, "Arial Black", "sans serif";
  /*background-image:url('https://files.slack.com/files-pri/T2SV1LBC6-F4G53DWKF/screen_shot_2017-03-09_at_7.53.33_am.png') no-repeat;*/
}

.home-meme {
  position: relative;
}

.wrapper-showcase {

}

.wrapper-showcase div.first img {
  /*width: 200px;
  height: 200px;*/
  z-index: -100;
}
.wrapper-showcase div.home-meme span {
    width: 100%;
    height: 100%;
    display: inline-block;
    left: 0;
    z-index: 100;
    top:0;
    background: black;
}

#settingColor {
  display:none;
}

.home-meme {
  width: 555px;
  margin-left: 75px;
}

.homePhoto {
  width: 400px;
  margin-bottom: 10px;
}